
@import "./Variables.css";

.app-root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.workspace-layout {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 280px;
  background-color: var(--mbm-blue);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-content {
  flex: 1;
  background-color: #c0deff;
  padding: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}

tr:hover { background-color: #f9f9f9; }

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
